<p id="notice"><%= notice %></p>

<p>
  <strong>Options,questions:</strong>
  <%= @foreign_key.options,questions %>
</p>

<%= link_to 'Edit', edit_foreign_key_path(@foreign_key) %> |
<%= link_to 'Back', foreign_keys_path %>
